* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

footer {
    margin-top: 50px;
    height: calc(100px);
    width: 100%;
    background: #b5b5b5;
    color: white;
    padding: 25px 0px;
  }
  
  .footerContent {
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
  
  .footerContent * {
    align-items: center;
    align-self: center;
  }

  body {
    background-image: url(../media/1679272100_bogatyr-club-p-fon-dlya-chasov-smart-foni-oboi-1.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    
}